<div [class]="theme">
  <mat-toolbar color="primary">
    <span class="title">Angular Material Theming Demo</span>
    <span style="flex: auto"></span>
    <mat-form-field>
      <mat-select [(ngModel)]="theme" (selectionChange)="onThemeChange()">
        <mat-option value="DeepPurple-light-theme"
          >DeepPurple light theme</mat-option
        >
        <mat-option value="indigo-light-theme">indigo light theme</mat-option>
        <mat-option value="pink-dark-theme">pink dark theme</mat-option>
        <mat-option value="purple-dark-theme"> purple theme</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav-content
      ><p>Selected value: {{ theme }}</p>
      <button mat-raised-button color="accent">click</button> <br />
      <mat-slider aria-label="unit(s)"></mat-slider>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
